$primaryColour: #203240;
$secondaryColour: #929292;
$offWhite: #f2f2f2;

.modal-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal {
  width: 100%;
  max-width: 600px;
  background-color: $offWhite;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid $secondaryColour;
  }

  &__header {
    display: flex;
    color: $primaryColour;
    font-size: 0.9rem;

    &__image {
      aspect-ratio: 1;
      width: 20px;
      margin-bottom: auto;
      margin-right: 20px;
    }
  }

  &__text {
    margin-top: 20px;
    color: $secondaryColour;
    font-size: 0.9rem;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  &__button {
    width: 100%;
    padding: 8px;
    margin: 2px;
    border: 2px solid $primaryColour;
    border-radius: 5px;
    font-style: italic;
    font-weight: bold;

    &--cancel {
      color: $primaryColour;
      background-color: $offWhite;

      &:hover {
        color: $offWhite;
        background-color: $primaryColour;
      }
    }

    &--continue {
      color: $offWhite;
      background-color: $primaryColour;

      &:hover {
        color: $primaryColour;
        background-color: $offWhite;
      }
    }
  }
}

@media (min-width: 500px) {
  .modal {
    margin-bottom: 50px;
  }

  .modal__button {
    width: 100%;
    max-width: 200px;
  }
}
